<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Request Reservation</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<!-- CSS Files -->
	{% load static %}

	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/css/material-bootstrap-wizard.css' %}" rel="stylesheet" />

    <script type="text/javascript">
		window.onload=function(){
		var today = new Date().toISOString().split('T')[0];
		document.getElementsByName("date_picker")[0].setAttribute('min', today);
	}
	</script> 
	<style>
		.date_picker{
			padding: 10px;
			background: #000;
			color: #fff;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;

		}
		
	</style>
	
</head>

<body>
	<div class="image-container set-full-height" style="background-image: url('assets/img/wizard-book.jpg')">
		<!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="red" id="wizard">
		                    <form action="" method="post">
								{% csrf_token %}
		                <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        		Make a Reservation!
		                        	</h3>
									<h5>Please provide us some details to get you the booking.</h5>
		                    	</div>
								<div class="wizard-navigation">
									<ul>
			                            <li><a href="#details" data-toggle="tab">Restaurant</a></li>
			                            <li><a href="#captain" data-toggle="tab">Table Size</a></li>
			                            <li><a href="#description" data-toggle="tab">Date and Time</a></li>
			                        </ul>
								</div>

		                        <div class="tab-content">
		                            <div class="tab-pane" id="details">
		                            	<div class="row">
			                            	<div class="col-sm-12">
			                                	<h4 class="info-text"> Let's find your Restaurant.</h4>
			                            	</div>
											
		                                	<div class="col-sm-6">
												<h3>Select your Restaurant!</h3>
												<div class="form-group label-floating">
		                                        	<label class="control-label">Restaurant</label>
													
													<!-- <h4>{{ item.name.0 }} </h4> -->
													
	                                        		<select name = "rest_name" class="form-control">
														{% for item in data %}
	                                                	<option name = "display_name"> {{ item.rest_name}}, {{ item.rest_id }} </option>
														<label name = "rest_id" style="display: none;">{{ item.rest_id }}</label>
														{% endfor %}

		                                        	</select>
													
		                                    	</div>

		                                	</div>
										
		                            	</div>
										<div class="col-sm-12">
											<h4 class="info-text"> Cannot find your Restaurant. Click here to <a href="https://0532-2405-201-1006-91dd-62ea-525d-a60d-e100.in.ngrok.io/restbot/add_rest">search and add. </a></h4>
											
										</div>
		                            </div>
		                            <div class="tab-pane" id="captain">
		                                <h4 class="info-text">Number of guests you are expecting? </h4>

		                                <div class="row">
											
		                                    <div class="col-sm-10 col-sm-offset-1">
	
		                                        <div class="col-sm-4">
		                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Best for single or couple booking.">
		                                                <input type="radio" name="numbr_guests" value="2">
		                                                <div class="icon">
		                                                    <i class="material-icons">people</i>
		                                                </div>
		                                                <h6>Couple (2 guests)</h6>
														<input type="hidden" name="guests_size" value="2">

		                                            </div>
		                                        </div>

		                                        <div class="col-sm-4">
		                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Best for family booking.">		                                                
														<input type="radio" name="numbr_guests" value="4">
		                                                <div class="icon">
		                                                    <i class="material-icons">diversity_1</i>
		                                                </div>
		                                                <h6>Family (4 guests)</h6>
														<input type="hidden" name="guests_size" value="4">
		                                            </div>
		                                        </div>
												<div class="col-sm-4">
		                                            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you are coming with your team.">

		                                                <div class="icon">
		                                                    <i class="material-icons">tune</i>
															<div class="form-group label-floating">
																<label class="control-label">Custom</label>
																<input name="guests_size" type="text" class="form-control">
													  		</div>
		                                                </div>
		                                                
		                                            </div>
		                                        </div>

		                                    </div>
		                                </div>
		                            </div>
									<div class="tab-pane" id="description">
		                            	<div class="row">
			                            	<div class="col-sm-12">
			                                	<h4 class="info-text">Select date for reservation.</h4>
												<br>
												<label class="info-text" for="date">Date:</label>
												<input class="info-text" type="date" id="date_picker123" name="date_picker">
			                            	</div>

		                            	</div>
										<div class="col-sm-12">
											

										</div>
		                            </div>

		                        </div>
	                        	<div class="wizard-footer">
	                            	<div class="pull-right">
	                                    <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Next' />
	                                    <input type='submit' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />
	                                </div>
	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

										<div class="footer-checkbox">
											<div class="col-sm-12">
											  <div class="checkbox">
												  <label>
													  <input type="checkbox" name="optionsCheckboxes">
												  </label>
												  Agree to pay cancellation charges.
											  </div>
										  </div>
										</div>
	                                </div>
	                                <div class="clearfix"></div>
	                        	</div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div> <!-- row -->
		</div> <!--  big container -->


	</div>

</body>
	<!--   Core JS Files   -->
	<script src="{% static 'assets/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/js/jquery.bootstrap.js' %}" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="{% static 'assets/js/material-bootstrap-wizard.js' %}"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
</html>
